In [1]:
from IPython.core.display import HTML
HTML(open('D:/localmts/python/css1.py').read())

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
fruits_quality_df = pd.DataFrame({
    'fruit': ['apple', 'apple', 'apple', 'apple', 'apple', 'apple', 'mango', 'mango', 'mango', 'mango', 'mango', 'mango'],
    'quality': ['low', 'medium',  'ok', 'good', 'better', 'best', 'low', 'medium',  'ok', 'good', 'better', 'best',],
    'jan': [100, 124, 97, 130, 142, 98, 40, 34, 30, 54, 49, 100],
    'feb': [190, 234, 187, 321, 423, 189, 45, 54, 57, 61, 73, 97],
    'mar': [147, 214, 237, 494, 212, 300, 515, 435, 567, 100, 94, 112],
    'apr': [193, 387, 262, 380, 109, 127, 168, 142, 259,  62,  94, 496],
    'may': [386, 358, 475, 151, 191,  69, 432,  72, 498, 171, 169, 150],
    'jun':  [369, 256, 151, 293, 413, 483, 375, 153, 243, 496, 458, 395],
    'jul':  [442, 350,  75, 293,  60, 261, 367, 128, 251, 435, 392,  91],
    'aug':  [412, 145, 445, 191,  82, 381, 255, 391, 362, 116, 180, 217],
    'sep':  [347, 119, 186, 376, 165, 313, 407, 437, 243, 461, 160, 188],
    'oct':  [468, 480, 101, 396, 310,  86, 309, 463, 124, 351, 246, 434],
    'nov':  [494, 238, 191, 492, 129, 470, 137, 484,  97, 133, 430, 179],
    'dec':  [169, 487, 424, 297,  69, 246, 406, 447, 137, 231, 323, 326]
})

In [8]:
'''
 Apply a function along an axis of the DataFrame.

    Objects passed to the function are Series objects whose index is
    either the DataFrame's index (``axis=0``) or the DataFrame's columns
    (``axis=1``). By default (``result_type=None``), the final return type
    is inferred from the return type of the applied function. Otherwise,
    it depends on the `result_type` argument.
'''
print(fruits_quality_df.jan.apply(np.log))
print(fruits_quality_df.jan.apply(lambda x: x + 100))

0     4.605170
1     4.820282
2     4.574711
3     4.867534
4     4.955827
5     4.584967
6     3.688879
7     3.526361
8     3.401197
9     3.988984
10    3.891820
11    4.605170
Name: jan, dtype: float64
0     200
1     224
2     197
3     230
4     242
5     198
6     140
7     134
8     130
9     154
10    149
11    200
Name: jan, dtype: int64

In [84]:
def doubleIfLT100(x):
    if (x < 100):
        return x * 2
    return x

In [86]:
%%timeit
fruits_quality_df.jan.apply(doubleIfLT100)
# fruits_quality_df.loc[:,['jan']]
# fruits_quality_df.loc[:,['jan', 'feb', 'mar', 'apr', 'may', 'jun']].apply(doubleIfLT100, axis=1)

164 µs ± 4.03 µs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [106]:
# vectorized function execution will be faster
def vecDouble(x):
    x[x < 100] *= 2
    return x

In [88]:
%%timeit
fruits_quality_df.loc[:,['jan']].apply(vecDouble)

2.13 ms ± 142 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [102]:
testdf = pd.DataFrame(np.random.randint(0, 200, size=(2000000, 40)))
testdf

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,168,31,79,0,63,6,110,133,128,76,...,187,26,190,137,191,178,149,87,62,110
1,176,24,132,62,11,39,145,114,106,21,...,163,196,117,22,131,44,195,176,78,88
2,84,150,186,96,89,24,46,157,1,190,...,89,146,110,198,130,154,100,134,91,184
3,88,50,70,169,181,134,156,111,167,132,...,168,15,170,25,161,115,58,4,110,128
4,107,101,137,103,40,129,144,97,73,73,...,54,72,33,62,14,54,181,140,79,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1999995,51,179,10,4,169,44,83,155,54,199,...,64,32,20,88,133,88,149,88,155,83
1999996,50,47,86,22,132,142,18,196,127,162,...,88,68,22,151,191,127,176,119,65,133
1999997,139,154,174,104,141,172,113,111,96,143,...,134,54,168,187,110,99,56,133,175,67
1999998,199,131,131,50,119,111,132,169,173,3,...,64,118,32,53,44,106,17,100,79,46
1999999,33,32,152,87,80,107,15,68,80,81,...,82,13,198,199,26,121,99,43,12,177

In [103]:
%%timeit
testdf.loc[:,0].apply(doubleIfLT100)

690 ms ± 25.1 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [104]:
%%timeit
testdf.iloc[:,[0]].apply(vecDouble)

136 ms ± 478 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [105]:
"""
Map
Similar to apply, but operatess on Series, and uses dictionary based inputs rather than an array of values
"""
print(fruits_quality_df.fruit.map({'apple': 'Apple'}))
print(fruits_quality_df.fruit.map({'apple': 'Apple', 'mango': 'Mango'}))
print(fruits_quality_df.jan.map(lambda x: x + 1))

0     Apple
1     Apple
2     Apple
3     Apple
4     Apple
5     Apple
6       NaN
7       NaN
8       NaN
9       NaN
10      NaN
11      NaN
Name: fruit, dtype: object
0     Apple
1     Apple
2     Apple
3     Apple
4     Apple
5     Apple
6     Mango
7     Mango
8     Mango
9     Mango
10    Mango
11    Mango
Name: fruit, dtype: object
0     101
1     125
2      98
3     131
4     143
5      99
6      41
7      35
8      31
9      55
10     50
11    101
Name: jan, dtype: int64